@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding:12px 25px;
}

.right-header{
    display: flex;
    column-gap: 20px;
}

#form{
    display: flex;
    flex-flow: column wrap;
    margin: 30px 30px;
    row-gap: 15px;
}
input{
    padding: 10px;
    padding-left: 20px;
}
#btn{
    width: 200px;
    color: white;
    background-color: black;
    padding: 7px;
    border-radius: 5px;
}
#message{
    display: none;
}
a{
    color: white;
    text-decoration: none;
}